<link rel="stylesheet" href="style.css">
<h2>Welcome to Complaint Management System</h2>
<br>
<h3>Hello {{user.name}} !!!</h3>

<br>
<br>
<a href="/complaint" class="btn btn-success btn-lg">Register a Complaint</a>
<a href="/viewcomplaint" class="btn btn-success btn-lg">View Complaints</a>
<h1 class="pooji" >Hello Pooji</h1>