<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        position: relative;
    }

    .about {
        min-height: 80vh;
        width: 70%;
        justify-content: center;
        left:15%;
        /*padding: 50px 150px;*/
    }

    .head {
        display: inline;
        align-items: center;
        justify-content: center;
        height: 90vh;
        width: 50%;
        left: 15%;
    }

    .head img {
        height: 100px;
        width: 100px;
        float: left;
    }

    .head span p {
        display: inline;
        margin-top: 10px;
        font-size: 36px;
        font-weight: 700;
        color: brown;
    }

    .content p {
        margin-top: 50px;
        font-size: medium;
    }
</style>

<body>
    <section class="about">
        <div class="head">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFJwFN7MZ4YmxE2NbnsMKaXG-I0VgtMyFdpwc8Cr5PLa0EwC7dZiaktR0kGfzKktfiexg&usqp=CAU"
                alt="">
            <span>
                <p> <br> Online Complaint Management System</p>
            </span>
        </div>
        <div class="content">
            <p>At RGUKT, we believe in creating a conducive and harmonious environment for all members of our community. We understand
            that in any organization, administrative issues and concerns can arise from time to time. That's why we have developed
            this comprehensive platform to address and resolve such matters efficiently and effectively.<br><br>
            Once a complaint is lodged, our dedicated team of administrators promptly reviews and assigns it to the relevant
            department or personnel responsible for addressing the matter. We have implemented a robust tracking system that enables
            you to monitor the progress of your complaint and receive real-time updates. Rest assured, we prioritize each complaint
            and strive to resolve it as quickly as possible.<br><br>
        Here at the Online Complaint Management System RGUKT, we aim to streamline the process of registering and tracking
        complaints. We have categorized the types of complaints into four main areas: Technical issues, Electrical issues,
        Sanitation, and Infrastructure. Whether you are experiencing problems with your internet connectivity, facing electrical
        disruptions, concerned about the cleanliness of the premises, or have noticed infrastructural shortcomings, our platform
        is here to assist you.<br><br>
        At Online Complaint Management System RGUKT, we value your feedback and suggestions. We believe in continuous
        improvement, and your input helps us enhance our services and address any shortcomings. Our team is committed to
        ensuring your satisfaction and maintaining a positive campus experience for everyone.
        </div>
    </section>
</body>