<link rel="stylesheet" href="style.css">
<h2>Welcome to Complaint Management System</h2>
<br>
<h3>Hello {{user.name}} !!!</h3>

<br>
<br>
<br>
<a href="/complaint" class="btn btn-success btn-lg">Register a Complaint</a>
<a href="/viewYourComplaints" class="btn btn-success btn-lg">View your Complaints</a>
<a href="/ViewAllComplaints" class="btn btn-success btn-lg">View all Complaints</a>