<style>
   body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f0f0f0;
    }
    .profile-container {
        max-width: 400px;
        margin: 50px auto;
        padding: 30px;
        background-color: #fff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }
    .profile-info {
        margin-bottom: 15px;
    }
    .profile-info label {
        display: block;
        margin-bottom: 5px;
    }
     .profile-info input {
        width: 90%; /* Set the width to 100% */
        padding: 8px; /* Add some padding for better appearance */
        border: 1px solid #ccc; /* Add a border for better visibility */
        border-radius: 4px; /* Add rounded corners */
        box-sizing: border-box; /* Include padding and border in width calculation */
    }
    .btn{
        width: 100px;
    }
</style>

<div class="profile-container">
    <form method="post" action="/resetpassword">
        <div class="profile-info">
            <label for="currentPassword">Current Password</label>
            <input type="password" name="currentPassword" required>
        </div>
        <br>
        <div class="profile-info">
            <label for="newPassword">New Password</label>
            <input type="password" name="newPassword" required>
        </div>
        <br>
        <div class="profile-info">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" required>
        </div>
        <br>
        <button class="btn btn-success" type="submit">Submit</button>
    </form>
</div>
